(1) Search EDA for things that look weird.<br> (2) Verify weirdness by comparing to randomly generated data and confirm that those weird things are in test data<br> (3) Create new features to capture what you see<br> (4) Add to model and tune your model hyperparameters. (5) Confirm CV increases and submit<br>
-cdeotte

People are getting stressed out because they read all the forum topics all day and they do not discover what "magic" is.<br>

If they start to waste time with data mining, they will find the magic. But it seems that this will not be the case.<br>

In [43]:
import feather as ftr
import gc
import os
import logging
import datetime
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import lightgbm as lgb
from tqdm import tqdm_notebook
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import StratifiedKFold
warnings.filterwarnings('ignore')
train = ftr.read_dataframe("../data/input/train.feather")
test = ftr.read_dataframe("../data/input/test.feather")

In [45]:
ftr.read_dataframe("../features/base_train.feather").head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0.427853,0.324824,0.568059,0.388041,0.550670,0.467321,0.454298,0.594255,0.270395,0.247420,...,0.569515,0.342943,0.568958,0.448173,0.510975,0.300318,0.678981,0.430958,0.327658,0.560645
1,0.557212,0.428639,0.681235,0.410417,0.628408,0.795072,0.536604,0.500584,0.660911,0.573056,...,0.668079,0.536531,0.523717,0.756190,0.350211,0.765154,0.686614,0.468277,0.609546,0.605827
2,0.411969,0.483777,0.578061,0.599690,0.474941,0.471329,0.753295,0.414724,0.270429,0.276041,...,0.522496,0.643141,0.448960,0.448000,0.671183,0.881350,0.236337,0.381950,0.425833,0.582736
3,0.535099,0.507140,0.396562,0.546993,0.647586,0.616822,0.572995,0.428577,0.224846,0.595326,...,0.570474,0.383085,0.370986,0.439205,0.745555,0.418549,0.346810,0.717176,0.590016,0.443232
4,0.473637,0.533434,0.624133,0.504796,0.621079,0.702836,0.589011,0.622220,0.811883,0.516413,...,0.387371,0.629275,0.299888,0.697737,0.238801,0.393218,0.557507,0.586526,0.591416,0.446041

In [ ]:
#縦が順位,横が行番号。一定の順位だけ、
train['var_108_rank']=train['var_108'].rank()
train.loc[train['target']==0]['var_108_rank'].plot(figsize=(20,20),style='.')
train.loc[train['target']==1]['var_108_rank'].plot(figsize=(20,20),style='.')

In [ ]:
test['var_108'].nu

In [ ]:
test['var_108'].hist(figsize=(30,30),bins=1000)

In [ ]:
train['spike_var_108']=0
spike108_index=train.query('0.463<var_108<0.465').index.values
train.loc[spike108_index,'spike_var_108']=1

In [ ]:
train['spike_var_108']

In [ ]:
train.loc[train['target']==1]['var_108'].plot(figsize=(30,30),style='.')

In [ ]:
train

In [ ]:
def train_test_marge(train_X,test_X,train_ID,test_ID):
    data = train.append(test)

In [ ]:
train.loc[train['target']==1]['var_181'].value_counts()

In [ ]:
train.loc[train['target']==1]['var_108'].value_counts()

In [ ]:
train.loc[train['target']==0]['var_181'].plot(figsize=(30,30),style='.')
train.loc[train['target']==1]['var_181'].plot(figsize=(30,30),style='.')

In [ ]:
train.loc[train['target']==0]['var_108'].plot(figsize=(30,30),style='.')
train.loc[train['target']==1]['var_108'].plot(figsize=(30,30),style='.')

In [ ]:
train['var_68_rank']=train['var_68'].rank()
train.loc[train['target']==0]['var_68_rank'].plot(figsize=(30,30),style='.')
train.loc[train['target']==1]['var_68_rank'].plot(figsize=(30,30),style='.')

In [ ]:
train['var_126_rank']=train['var_126'].rank()
train.loc[train['target']==0]['var_126_rank'].plot(figsize=(30,30),style='.')
train.loc[train['target']==1]['var_126_rank'].plot(figsize=(30,30),style='.')